body {
  color: var(--grayDark);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #00897b;
  --primaryDark: #01524a;
  --primaryLight: #01bba8;
  --primaryExtraLight: #e4f5f3;
  --secondary: #0d0089;
  --secondaryDark: #090056;
  --secondaryLight: #1500d2;
  --secondaryVeryLight: #f1f1f7;
  --accents: #ffffff;
  --gray: #414141;
  --grayDark: #343434;
  --grayLight: #757575;
}

.skip-navigation {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-navigation:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}

.bg-body-tertiary {
  background-color: #ffffff !important;
}

.nav-link {
  color: var(--grayDark);
}

.navbar-nav .nav-link.active {
  color: var(--primaryDark);
  text-decoration: underline;
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--primary);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primaryDark);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--primary);
}

#Characteristics-LibreTactile p {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
#Characteristics-LibreTactile {
  max-width: 800px;
  margin: auto;
}
#News {
  background-color: var(--secondaryVeryLight);
}
.rownews {
  margin-left: 0px;
  margin-right: 0px;
}
#News .img {
  opacity: 0.2;
  transform: rotate(10deg);
}

.overline {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.h5-news {
  color: var(--primaryDark);
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}
#feedback {
  background: url(../img/quoteTiles.svg) repeat;
  background-position: center;
  background-size: 10%;
}
#feedback h2 {
  margin-bottom: 80px;
}
#partners h2 {
  margin-bottom: 80px;
}
#partners img {
  margin-bottom: 2rem;
}
#footer {
  background-color: var(--secondaryVeryLight);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-link {
  color: var(--grayDark);
}
.footer-link:hover {
  color: var(--primary);
}
.footer-alignment {
  padding-top: 0.5rem;
}
.open-gear {
  margin-bottom: 2rem;
}
.the-team-link {
  color: var(--primary);
}
.the-team-link:hover {
  color: var(--primaryDark);
  font-weight: bold;
}
#our-history {
  background-image: url(../img/history.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transbox {
  background-color: #ffffff;
  opacity: 0.9;
}
#design-principles h2 {
  margin-bottom: 3rem;
}
#projects h2 {
  margin-bottom: 3rem;
}
#projects p {
  margin-bottom: 1rem;
}
.accordion-button:focus {
  border-color: var(--primary);
  box-shadow: var(--primary);
}
.accordion-button:not(.collapsed) {
  background-color: var(--primaryExtraLight);
  color: var(--grayDark);
}
#faqs .display-6 {
  margin-bottom: 3rem;
  max-width: 500px;
}
#faqs .row {
  margin-bottom: 3rem;
}
#contact img {
  margin-top: 2rem;
}
#get-in-touch h2 {
  margin-bottom: 2rem;
}
.error-page p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/********** Medium devices and up **********/
@media (min-width: 768px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 90%;
    height: 560px;
    margin-bottom: 80px;
  }
  .main-banner-text {
    max-width: 560px;
    padding-top: 120px;
  }
  .main-banner-text h1 {
    margin-bottom: 40px;
  }
  .main-banner-text p {
    margin-bottom: 40px;
  }
  #News {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #Characteristics-LibreTactile {
    padding-bottom: 80px;
  }
  #feedback {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #about-us {
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    max-width: 800px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-bottom: 80px;
  }
  #projects {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #faqs {
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #contact {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #get-in-touch {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .error-page {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

/********** Small devices **********/
@media (min-width: 576px) and (max-width: 767px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 90%;
    height: 500px;
    margin-bottom: 80px;
  }
  .main-banner-text {
    max-width: 560px;
    padding-top: 80px;
  }
  .main-banner-text h1 {
    margin-bottom: 40px;
  }
  .main-banner-text p {
    margin-bottom: 40px;
  }
  #News {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #Characteristics-LibreTactile {
    padding-bottom: 80px;
  }
  #feedback {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #partners .row img {
    width: 150px;
  }
  #about-us {
    max-width: 560px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    max-width: 560px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    max-width: 560px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-bottom: 80px;
  }
  #design-principles h2 {
    margin-bottom: 2rem;
  }
  #projects h2 {
    margin-bottom: 2rem;
  }
  #projects {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .card {
    margin-top: 2rem;
  }
  #faqs {
    max-width: 560px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #contact {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #get-in-touch {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

/********** Extra small devices **********/
@media (max-width: 575px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 110%;
    height: 500px;
    margin-bottom: 40px;
  }
  .main-banner-text {
    max-width: 420px;
    padding-top: 40px;
    text-align: center;
  }
  .main-banner-text h1 {
    margin-bottom: 40px;
  }
  .main-banner-text p {
    margin-bottom: 40px;
  }
  #News {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #Characteristics-LibreTactile {
    padding-bottom: 40px;
  }
  /* .rownews {
    margin-left: -120px;
    margin-right: -120px;
  } */
  #feedback {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #partners {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #partners .row img {
    width: 100px;
  }
  #about-us {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    max-width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #design-principles h2 {
    margin-bottom: 2rem;
  }
  #projects h2 {
    margin-bottom: 1rem;
  }
  #projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card {
    margin-top: 2rem;
  }
  #faqs {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #contact {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #get-in-touch {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

/********** Super extra small devices **********/
@media (max-width: 450px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 110%;
    height: 500px;
    margin-bottom: 40px;
  }
  .main-banner-text {
    max-width: 420px;
    padding-top: 40px;
    text-align: center;
  }
  .main-banner-text h1 {
    margin-bottom: 20px;
  }
  .main-banner-text p {
    margin-bottom: 20px;
  }
  #News {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #Characteristics-LibreTactile {
    padding-bottom: 20px;
  }
  #Characteristics-LibreTactile .row img {
    width: 80px;
    height: 80px;
  }
  #feedback {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #feedback h2 {
    margin-bottom: 40px;
  }
  #partners {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #partners .row img {
    width: 100px;
  }
  #about-us {
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    max-width: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card {
    margin-top: 2rem;
  }
  #faqs {
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #get-in-touch {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
