body {
  color: var(--grayDark);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #00897b;
  --primaryDark: #01524a;
  --primaryLight: #01bba8;
  --primaryExtraLight: #FAFCFC;
  --secondary: #F0A322;
  --secondaryDark: #B06E00;
  --secondaryLight: #F0B44F;
  --secondaryVeryLight: #FFFCF7;
  --accents: #ffffff;
  --gray: #414141;
  --grayDark: #343434;
  --grayLight: #757575;

   /* Pading, margin and spacing variables */
   --xsmall: 1rem;
   --small: 2rem;
   --medium: 4rem;
   --large: 8rem;
   --xlarge: 16rem;
}

.skip-navigation {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-navigation:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}

/* Links */
.light-link {
  color: var(--accents);
}

.light-link:hover {
  color: var(--primaryLight);
}

/* Navbar */

.navbar {
  height: 8rem;
}

.bg-body-tertiary {
  background-color: #ffffff !important;
}

.nav-link {
  color: var(--grayDark);
}

.navbar-nav .nav-link.active {
  color: var(--primaryDark);
  text-decoration: underline;
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--primary);
  font-weight: bold;
}

.navbar-collapse {
  background-color: #ffffff;
}

/* Main Banner */

.main-banner-text {
  padding-top: 6rem;
}

.main-banner-text h1 {
  margin-bottom: 2rem;
}

.main-banner-text p {
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primaryDark);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--primary);
}

/* Characteristics of LibreTactile */

#Characteristics-LibreTactile p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* News */

#News {
  background-color: var(--secondaryVeryLight);
}

#News .img {
  opacity: 0.8;
  transform: rotate(10deg);
}

.overline {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.h5-news {
  color: var(--primaryDark);
  margin-bottom: 0;
}

/* Feedback */

#feedback {
  background: url(../img/quoteTiles.svg) repeat;
  background-position: center;
  background-size: 10%;
}

#feedback h2 {
  margin-bottom: 4rem;
}

/* Partners */

#partners h2 {
  margin-bottom: 4rem;
}

#partners img {
  margin-bottom: 2rem;
}

/* Footer */

#footer {
  background-color: var(--secondaryVeryLight);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-link {
  color: var(--grayDark);
}

.footer-link:hover {
  color: var(--primary);
}

.footer-alignment {
  padding-top: 0.5rem;
}

.open-gear {
  margin-bottom: 2rem;
}

/* The Team */

.the-team-link {
  color: var(--primary);
}

.the-team-link:hover {
  color: var(--primaryDark);
  font-weight: bold;
}

/* Our History */

#our-history {
  background-image: url(../img/history.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Our Projects */

#projects h2 {
  margin-bottom: 4rem;
}

#projects p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* Design principles */

#design-principles h2 {
  margin-bottom: 4rem;
}

/* FAQs */

.accordion-button:focus {
  border-color: var(--primary);
  box-shadow: var(--primary);
}

.accordion-button:not(.collapsed) {
  background-color: var(--primaryExtraLight);
  color: var(--grayDark);
}

#faqs .display-6 {
  margin-bottom: 4rem;
}

.faqs .row {
  margin-bottom: 4rem;
}

/* Contact */

#contact img {
  margin-top: 2rem;
}
#get-in-touch h2 {
  margin-bottom: var(--small);
}

#contact-section{
  margin-top: var(--small);
  margin-bottom: var(--small);
}

#contact-info{
  background-color: var(--primary);
  color:var(--accents);
  border-radius: .375rem;
  padding: var(--small);
}

#contact-form{
  background-color:var(--accents);
  padding: var(--small);
}

#contact-form h2{
  margin-bottom: var(--small);
}

input{
  margin-bottom: var(--xsmall);
}

textarea{
  margin-bottom: var(--xsmall);
}

select{
  margin-bottom: var(--xsmall);
}

.form-control:focus{
  border-color: var(--primary);
  box-shadow: 0 0 0 .25rem rgba(0, 137, 123, .25);

}

.form-select:focus{
  border-color: var(--primary);
  box-shadow: 0 0 0 .25rem rgba(0, 137, 123, .25);

}

#contact-info h2{
  margin-bottom: var(--xsmall);
}

/* Error Page */

.error-page p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/********** Medium devices and up **********/
@media (min-width: 768px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 90%;
    height: 35rem;
    margin-bottom: 4rem;
  }

  #Characteristics-LibreTactile {
    padding-bottom: 2rem;
  }

  #News {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #feedback {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #partners {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #about-us {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #the-team p {
    margin-top: 2rem;
  }

  #projects {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #design-principles {
    margin-bottom: 4rem;
  }

  #design-principles .col1 {
    margin-bottom: 4rem;
  }

  #faqs {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  #contact {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  
  .error-page {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

/********** Small devices **********/
@media (min-width: 576px) and (max-width: 767px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 100%;
    height: 30rem;
    margin-bottom: 4rem;
  }

  .main-banner-text {
    padding-top: 4rem;
  }

  #Characteristics-LibreTactile {
    padding-bottom: 2rem;
  }

  #News {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #feedback {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #partners {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #about-us {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-bottom: 4rem;
  }
  #design-principles h2 {
    margin-bottom: 2rem;
  }

  #design-principles .col1 {
    margin-bottom: 2rem;
  }

  #projects {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #projects h2 {
    margin-bottom: 2rem;
  }

  .card {
    margin-top: 2rem;
  }
  #faqs {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #contact {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #get-in-touch {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

/********** Extra small devices **********/
@media (max-width: 575px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 110%;
    height: 30rem;
    margin-bottom: 4rem;
  }
  .main-banner-text {
    max-width: 25rem;
  }

  #Characteristics-LibreTactile {
    padding-bottom: 2rem;
  }

  #News {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #feedback {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #partners {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #about-us {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #the-team p {
    margin-top: 2rem;
  }
  #design-principles {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #design-principles h2 {
    margin-bottom: 2rem;
  }

  #projects {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projects h2 {
    margin-bottom: 0rem;
  }

  .card {
    margin-top: 2rem;
  }
  #faqs {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #contact {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #get-in-touch {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

/********** Super extra small devices **********/
@media (max-width: 450px) {
  #main-banner {
    background: url(../img/pics/hero.svg) no-repeat;
    background-position: center bottom;
    background-size: 110%;
    height: 30rem;
    margin-bottom: 4rem;
  }

  #Characteristics-LibreTactile {
    padding-bottom: 1rem;
  }

  #News {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #feedback {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #feedback h2 {
    margin-bottom: 2rem;
  }

  #about-us {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #about-us p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .our-history {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #our-history p {
    margin-top: 2rem;
  }
  #the-team {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #the-team p {
    margin-top: 2rem;
  }

  #projects {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .card {
    margin-top: 2rem;
  }

  #design-principles {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #faqs {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #get-in-touch {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .error-page {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
